@import "font.css";
@import "ob_ritm.css";
@import "otzyv.css";

@import"style2.css";
@import"style3.css";
@import"style4.css";
@import"style5.css";
@import"style6.css";
  body{
    
    background-color: #162831;
    color:white;
    max-width: 1920px;
    border: #018ABE 1px solid;
  }
  
  .header{
  margin: auto;
  padding-top: 30px;
  width: 1298px;
  height: 60px; 
  display: flex;
  flex-direction: row;
  font-family: 'Proxima Nova';
  

  }

  .header__head{
    display: flex;
    flex-direction: row;
    
    margin-left: auto;
    margin-top: 21px;
    width: 655px;
    height: 19px;
    gap: 50px;

    cursor: pointer;
   
  }
  
  .header__logo{
    
    width: 60px; height:60px;
  }

  .header__text{
    margin: auto ;
    font-size: 14px;
  
  }


  .header__zapis{
   margin-left: auto;
   margin-top: 13px;
    width: 155px;
    height: 36px;
    background-color: #018ABE;

    font-weight: 600;
    font-size: 13px;

    cursor: pointer;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
   
  }

.first__screen{
  width: 1296px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.first__screen__image{
  width: 1296px;
  height: 600px;
}
